{% block head %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rémi TAUVEL - {% block title %}{% endblock title %}</title>    
    <script src="https://cdn.tailwindcss.com"></script>
</head>    
<body class="relative w-screen h-screen">
{% endblock head %}
{% include "menu.html" %}
{% block content %}{% endblock content %}
{% include "footer.html" %}
</body>
</html>