{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block title%} CV {% endblock title%}

{% block content%}
<div id="cv-page" 
    class="
        grow
        flex
        flex-col
        items-center
        w-full">
    <div id="items-container" 
        class="flex 
            flex-rows 
            justify-center
            grow
            w-full
            px-12
            ">
        <div id="pro"
            class="relative w-1/2
            grow
            pr-12
            ">
            <div id="pro_fr"
                class="fr
                        flex
                        flex-col
                        justify-around
                        h-full
                        items-stretch
                ">
                <div id="jobs"
                    class= "flex 
                        flex-col
                        justify-around
                        ">
                    <h2 class="text-2xl my-4">Expérience Professionnelle</h2>
                    <p class="my-2"><date class="underline italic">depuis sept.2016:</date> AED au sein du college Europa 26200 Montélimar</p>
                    <p class="my-2"><date class="underline italic">nov.2015 -juin 2015:</date> mission de service civique au sein de l'Intergroupe Marcel Pagnol</p>
                    <p class="my-2"><date class="underline italic">nov.2013 - nov.2015 :</date> AED au sein du college Gustave Monod 26200 Montélimar</p>
                    <p class="my-2"><date class="underline italic">mai - juin 2014:</date> enseignant mathématiques et sciences physiques pour le SAPAD (service départemental d'aide scolaire pour les élèves en longue maladie)</p>
                    <p class="my-2"><date class="underline italic">mars - juin 2013 :</date> enseignant à domicile au sein d'acadomia (maths et physique/chimie)</p>
                </div>
                <div id="industrial-projects"
                    class= "flex flex-col
                    justify-around
                    ">
                    <h2 class="text-2xl my-4">Stages et projets scolaires industriels</h2>
                    <p class="my-2"><date class="underline italic">mars-juin 2013 :</date> intégration d'un prototype de serveur de stockage sécurisé</p>
                    <p class="my-2"><date class="underline italic">mars-juin 2012 :</date> création d'un prototype de tag RFID intelligent sans fil alimenté par l'énergie ambiante</p>
                    <p class="my-2"><date class="underline italic">février 2011 :</date> stage de découverte du monde ouvrier, à ST Microelectronics Rousset: équipe de maintenance</p>
                </div>
            </div>
            <div id="pro_en"
                class="en
                        h-full
                        flex
                        flex-col
                        justify-around
                        items-stretch
                        hidden

                ">
                <div id="jobs"
                    class= "flex 
                        flex-col
                        justify-around">
                    <h2 class="text-2xl my-4">Former Jobs</h2>
                    <p class="my-2"><date class="underline italic">since sept. 2016:</date> pupil monitor for medium school Europa 26200 Montélimar</p>
                    <p class="my-2"><date class="underline italic">nov.2015 -jun. 2015:</date> social network helper at l'Intergroupe Marcel Pagnol</p>
                    <p class="my-2"><date class="underline italic">nov.2013 - nov.2015 :</date> pupil monitor for medium school Gustave Monod 26200 Montélimar</p>
                    <p class="my-2"><date class="underline italic">may - june 2014:</date> math and science individual teacher for SAPAD (shcool help for diseased children)</p>
                    <p class="my-2"><date class="underline italic">mar. - jun. 2013 :</date> math and science individual teacher for Acadomia</p>
                </div>
                <div id="industrial-projects"
                    class= "flex flex-col
                    justify-around
                    ">
                    <h2 class="text-2xl my-4">internships and in-school industrial projects</h2>
                    <p class="my-2"><date class="underline italic">mar. tu jun.  2013:</date> integration of a crypted NAS (Phosphorus)</p>
                    <p class="my-2"><date class="underline italic">mar. to jun. 2012 :</date> prototyping a radio-powered smart RFID tag (Tagsys)</p>
                    <p class="my-2"><date class="underline italic">february 2011 :</date> industry maintenance operator intership (STMicroelectronics).</p>
                </div>
            </div>
        </div>


        <div id="scolaire"
            class="relative w-1/2
                pl-12
                grow">
            <div id="scolaire_fr" 
                class="fr
                h-full
                flex
                flex-col
                justify-around
                ">
                <div id="diplomes"
                    class="flex 
                        flex-col
                        justify-around
                        ">
                    <h2 class="text-2xl my-4">Parcours Scolaire</h2>
                    <p class="my-2"><date class="underline italic">depuis novembre 2019 :</date> Parcours développeur informatique option python/django chez Openclassrooms </p>
                    <p class="my-2"><date class="underline italic">2010 - 2013 :</date> 1ere et 2e années en cycle ISMIN au sein du site Georges Charpak de l'Ecole des Mines de St-Etienne</p>
                    <p class="my-2"><date class="underline italic">2008 - 2010 :</date> Classe Préparatoire CPGE TSI au sein du lycée Jean-Baptiste Dumas à Alès</p>
                    <p class="my-2"><date class="underline italic">2005 - 2008 :</date> Baccalauréat Sciences et Technologies du Laboratoire, série "Physique de Laboratoire et Procédés Industriels"</p>    
                </div>
                <div id="concours"
                    class="flex 
                    flex-col
                    justify-around
                    ">
                    <h2 class="text-2xl my-4">Prix et Concours</h2>
                    <p class="my-2"><date class="underline italic">2019 :</date> admission au CAPES interne en mathématiques, avant radiation pour un motif administratif.</p>
                    <p class="my-2"><date class="underline italic">2012 et 2013</date> 750 et 785 au test TOEIC</p>    
                    <p class="my-2"><date class="underline italic">2008 :</date> obtention d'un accessit au Concours Général des Lycées, série STL-PLPI</p>
                </div>
            </div>
            <div id="scolaire_en" 
                class="en
                h-full
                flex
                flex-col
                justify-around
                hidden
                ">
                <div id="diplomes"
                    class="flex 
                        flex-col
                        justify-around
                        ">
                    <h2 class="text-2xl my-4">Scolarship</h2>
                    <p class="my-2"><date class="underline italic">depuis novembre 2019 :</date> Parcours développeur informatique option python/django (Openclassrooms)</p>
                    <p class="my-2"><date class="underline italic">2010 - 2013 :</date> hardware and software engineer (cycle ISMIN l'Ecole des Mines de St-Etienne), master's degree not acquired</p>
                    <p class="my-2"><date class="underline italic">2008 - 2010 :</date> prep school for engineer studies (lycée Jean-Baptiste Dumas à Alès)</p>
                    <p class="my-2"><date class="underline italic">2005 - 2008 :</date> Baccalauréat Sciences et Technologies du Laboratoire, série "Physique de Laboratoire et Procédés Industriels"</p>    
                </div>
                <div id="concours"
                    class="flex 
                    flex-col
                    justify-around
                    
                    ">
                    <h2 class="text-2xl my-4">Contests and Prizes</h2>
                    <p class="my-2"><date class="underline italic">2019 :</date> math teacher certificate. canceled for administrative reasons</p>
                    <p class="my-2"><date class="underline italic">2012 and 2013</date> TOEIC test 750/990 and 785/990</p>    
                    <p class="my-2"><date class="underline italic">2008 :</date> 6th place at Concours Général des Lycées (national contest on physic sciences)</p>
                </div>
            </div>
        </div>
    </div>
    <div id="button_container" 
        class="flex
            flex-row
            justify-around 
            justify-items-center
            items-center
            w-3/4
            my-auto">
        <button id="languageSwitcher" class="mx-auto mt-12 
                                px-8
                                py-4 
                                rounded-full 
                                text-xl 
                                text-white 
                                bg-indigo-500
                                mt-auto
                                mb-4 
                                hover:text-indigo 
                                hover:bg-white 
                                hover:ring-4 
                                hover:ring-indigo-500 
                                hover:text-indigo-500" 
            >Switch to English</button>
        <button id="CV_fr" class="mx-auto mt-12 
            px-8
            py-4 
            rounded-full 
            text-xl 
            text-white 
            bg-indigo-500
            mt-auto
            mb-4 
            hover:text-indigo 
            hover:bg-white 
            hover:ring-4 
            hover:ring-indigo-500 
            hover:text-indigo-500
            fr" 
            >Télécharger CV en PDF</button>
        <button id="CV_en" class="mx-auto mt-12 
            px-8
            py-4 
            rounded-full 
            text-xl 
            text-white 
            bg-indigo-500
            mt-auto
            mb-4 
            hover:text-indigo 
            hover:bg-white 
            hover:ring-4 
            hover:ring-indigo-500 
            hover:text-indigo-500
            en
            hidden" 
            >download CV PDF</button>
    </div>
</div>             
<script src={{ url_for('static', filename='js/download_cv.js')}} defer></script>
<script src={{ url_for('static', filename='js/language_switcher.js')}} defer></script>
{% endblock content%}