<header class="relative
                py-4
                top-0
                w-screen 
                flex
                justify-between
                items-center
                shadow-md
                mb-8">
    <a class="text-3xl" href={{ url_for('index') }}>
        Rémi TAUVEL
    </a>
    <nav 
        role="tablist" 
        class="space-x-8 mr-8 items-baseline text-xl"
        >
        <a role="tab" class="" href={{ url_for('index') }}>Accueil</a>
        <a role="tab" class="" href={{ url_for('cv') }}>Curriculum Vitae</a>
        <a role="tab" class="" href={{ url_for("portfolio")}}>Portfolio</a>
    </nav>
</header>